*{
	box-sizing: border-box;
	background-color: #f1f1f1;
}
#regform{
	background-color: #fff;
	margin: 100px auto;
	font-family: Raleway;
	padding: 40px;
	width: 60%;
	min-width: 300px;
}
h1{
	text-align: center;
	background: none;
}
input{
	padding: 10px;
	width: 100%;
	font-size: 17px;
	font-family: monospace;
	border: 1px solid #aaaaaa;
}
input .invalid{
	background-color: #ffdddd;
}
.tab{
	display: none;
}
button{
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
	font-size: 17px;
	font-family: Raleway;
	border: none;
	cursor: pointer;
}
button:hover{
	opacity: 0.8;
}
#prevbtn{
	background-color: #dddddd;
}
.step{
	width: 15px;
	height: 15px;
	margin: 0 2px;
	background-color: #bbbbbb;
	border: none;
	border-radius: 50%;
	display: inline-block;
	opacity: 0.5;
}
.active{
	background-color: red;
}
div, input{
	background-color: #fff;
}